@color-success: #5cb85c;
@color-danger: #d9534f;


a.toggleScanner{
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
  padding-left: 5px;
  cursor: pointer;
  padding-top: 2px;
}

div.a1000-file{
  font-size: 1.1em;
  padding-left: 5px;
}

table{
  width: 100%;
  border-spacing: 5px;
}

td{
  word-break: break-all;
  padding-top: 2px;
  padding-bottom: 3px;
}

div.scanner-results {
  span{
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
    padding-left: 5px;
  }
}

div.file {
  span{
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
    padding-left: 5px;
  }
}

table {
  td:first-child{
    padding-left: 5px;
  }
}

h1{
  margin: 0px;
  padding: 5px;
  font-size: 1.2em;
  font-weight: bold;
  color: #555;
}

div.class {
  span{
    text-align: left;
    font-weight: bold;
    font-size: 1.3em;
  }
}

.xref-table{

  min-height: 65px;

  b.heading {
    font-size: 1.3em;
    test-align: center
  }

  b.muted {
    color: #888;
  }

  i {
    font-size: 10px;
  }

  i.bt-check {
    color: @color-success;
  }

  i.fa-bug {
    color: @color-danger;
  }

  td.positives {
    width: 60px;
  }

  td{
    padding: 2px;
  }
}

