span.view-more{
  margin-left: 5px;
}

.table-icon{
  font-size: 10px;
}

.external-link-icon{
  font-size: 8px;
}

.icon{
  font-size: 10px;
}

span.no-detections{
  color: #9A9A9A;
}

.status-malicious{
  color: #d00000;
  font-size: 10px;
}

.status-suspicious{
  color: #f8a80d;
}

.status-known{
  color: #94b60a;
}

.severity-icon{
  font-size: 10px;
}



